# Folders
data
new
result
npy
*__pycache__
images
archive

# Model files
*.csv
*.hdf5
*.pkl
*npy
*.pcd
*.ply
*.png
*.txt

# WIP Scripts
pointcloud_test.py
opencv_pointcloud_viewer.py
pctest.mlp
.vscode/settings.json
multicam/cameras.pkl
